body {
    background-color: #ffff99;
    margin: 50px;
    font-family: Helvetica;
   }
    
   h1 {
    color: #ff6600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid #ff6600;
    font-size: 5em;
    padding: 10px;
}
    
    
   h2 {
    background-color: #ff6600;
    color: #ffff99;
    font-family:  "Courier New";
    padding: 30px 10px 10px 10px;
    font-size: 2em;
   }
    
   ol {
    color:#ffff99;
    background-color: #ffcc00;
    
   }
    
   li {
    padding-bottom: 10px;
    padding-top: 10px;
   }
    
   p {
    border: 2px dotted #ffcc00;
    padding: 10px;
   }